# Scrapping SGX data

## import library

In [1]:
import pandas as pd
import numpy as np
import time
from selenium import webdriver

In [2]:
# opening a browser
browser = webdriver.Chrome()
browser.get('https://www.sgx.com/securities/equities/1D4')

In [3]:
# let the chrome load site of the selenium will try to grab the elements too early and result in empty list in find_element
# result in list index out of range
time.sleep(5)
# click the accept cookie button if appear
try:
    browser.find_element_by_xpath(".//button[@class='sgx-consent-banner-acceptance-button sgx-button--primary sgx-button--small']").click();
except:
    print('no accept buttons')
# to expand the table or selenium cannot find the other elements from the page
browser.find_elements_by_xpath(".//*[@class='sgx-accordion-expandAll-icon']")[0].click()

In [4]:
empty=[]

In [5]:
# Extracting the title of the dataset
table = browser.find_elements_by_xpath('.//*[@class="website-content-table"]/thead/tr/th')
for i in table:
    empty.append(i.text)

In [6]:
headers = list(filter(None, empty))[1:6]
headers

['2015', '2016', '2017', '2018', '2019']

In [7]:
# this part of the code extractes all the row headers like total revenue etc..
empty=[]
table = browser.find_elements_by_xpath('.//*[@class="website-content-table"]/tbody/tr/th')
for i in table:
    empty.append(i.text)

In [8]:
indicators = list(filter(None,empty))

In [9]:
len(indicators)

86

In [10]:
# extracts all cells that are of all the tables
empty=[]
table = browser.find_elements_by_xpath('.//*[@class="sgx-content-table-cell--right-align"]')
for i in table:
    empty.append(i.text)

In [11]:
# the first 18 were from the fact sheet above in the summary
content= list(filter(None,empty[18:]))

In [12]:
len(content)/5

86.0

In [13]:
# reshaping the cell to match the indicators and year
x = np.reshape(content, (86, 5))

In [14]:
x.transpose()

array([['31 Dec 2015', '12 Months', 'PROSPECTUS', '46.45', '46.45',
        '21.10', '3.89', '-', '7.47', '37.75', '8.70', '-', '-', '8.70',
        '3.93', '4.78', '0.54', '9.64', '0.54', '9.64', '9.64', '355.82',
        '0.00', '-', '0.00', '31 Dec 2015', 'PROSPECTUS', '-', '-',
        '14.39', '46.96', '46.96', '-', '191.07', '253.95', '-', '-',
        '35.15', '-', '87.34', '-', '376.99', '177.44', '-', '0.00',
        '110.65', '288.09', '0.00', '0.00', '1.13', '-', '359.62',
        '0.53', '16.85', '-', '-', '-', '17.37', '376.99', '355.82',
        '-0.20', '31 Dec 2015', 'PROSPECTUS', '8.70', '3.89', '2.34',
        '3.32', '-1.63', '13.30', '-6.78', '-36.62', '-43.40', '-', '-',
        '34.25', '-', '4.15', '31 Dec 2015', '-', '-', '0.187', '0.103',
        '-', '0.881', '0.876', '-'],
       ['31 Dec 2016', '12 Months', 'ARS', '86.86', '86.86', '29.14',
        '4.94', '3.32', '9.02', '73.13', '13.74', '-', '-', '13.74',
        '6.03', '7.71', '1.24', '9.32', '1.24', '9.32', '9.32', '355.82',
        '0.00', '-', '0.00', '31 Dec 2016', 'ARS', '-', '-', '34.92',
        '16.05', '16.05', '-', '13.98', '71.73', '-', '-', '36.78', '-',
        '99.80', '-', '208.79', '111.13', '-', '0.00', '1.15', '112.27',
        '0.00', '0.00', '1.66', '-', '129.52', '44.31', '34.96', '-',
        '-', '-', '79.28', '208.79', '355.82', '-0.06', '31 Dec 2016',
        'ARS', '13.74', '4.94', '0.74', '6.60', '-8.30', '11.12',
        '-6.13', '-1.44', '-7.57', '-4.00', '-', '16.97', '-', '20.53',
        '31 Dec 2016', '0.026', '0.026', '0.158', '0.089', '0.297',
        '0.639', '0.578', '-'],
       ['31 Dec 2017', '12 Months', 'ARS', '100.67', '100.67', '37.69',
        '5.52', '5.82', '9.82', '92.19', '8.48', '-', '-', '8.48',
        '3.61', '4.88', '4.88', '5.01', '4.88', '5.01', '5.01', '326.51',
        '0.01', '0.01', '0.03', '31 Dec 2017', 'ARS', '-', '-', '95.27',
        '10.40', '10.40', '-', '2.49', '115.48', '-', '-', '36.14', '-',
        '116.26', '-', '268.28', '29.73', '-', '0.00', '0.18', '29.92',
        '0.00', '0.00', '1.76', '-', '31.67', '284.74', '-48.14', '-',
        '-', '-', '236.61', '268.28', '372.16', '0.32', '31 Dec 2017',
        'ARS', '8.48', '5.52', '4.79', '5.30', '-6.68', '12.12', '-4.41',
        '-4.99', '-9.40', '0.00', '-', '57.63', '-', '60.35',
        '31 Dec 2017', '0.020', '0.031', '0.084', '0.048', '0.422',
        '3.860', '3.615', '-'],
       ['31 Dec 2018', '12 Months', 'ARS', '119.11', '119.11', '54.15',
        '8.21', '0.27', '15.67', '118.28', '0.83', '-', '-0.43', '0.40',
        '0.85', '-0.45', '-0.45', '-0.45', '-0.45', '-0.45', '-0.45',
        '380.05', '-0.00', '0.00', '-0.00', '31 Dec 2018', 'ARS', '-',
        '-', '50.32', '19.59', '21.70', '-', '5.96', '87.56', '-', '-',
        '62.44', '-', '115.37', '-', '265.77', '17.28', '-', '0.00',
        '0.00', '18.22', '0.00', '0.94', '1.54', '-', '19.76', '295.36',
        '-49.34', '-', '-', '-', '246.02', '265.77', '381.58', '0.34',
        '31 Dec 2018', 'ARS', '0.40', '8.21', '1.45', '3.37', '-12.73',
        '-2.67', '-33.89', '-18.00', '-51.88', '-3.66', '-', '7.89',
        '1.72', '-44.95', '31 Dec 2018', '-0.002', '-0.002', '0.007',
        '-0.004', '0.446', '4.805', '4.280', '0.004'],
       ['31 Dec 2019', '12 Months', 'ARS', '141.11', '141.11', '61.02',
        '17.67', '0.35', '15.61', '151.25', '-10.14', '-', '-1.19',
        '-11.34', '2.18', '-13.51', '-13.52', '-13.52', '-13.52',
        '-13.52', '-13.52', '381.58', '-0.04', '-', '-0.03',
        '31 Dec 2019', 'ARS', '-', '-', '26.96', '21.55', '23.31', '-',
        '1.64', '62.69', '-', '-', '113.32', '-', '132.23', '-',
        '308.60', '24.59', '-', '0.00', '4.37', '35.48', '37.61',
        '44.13', '1.33', '-', '74.43', '295.36', '-61.18', '-', '-', '-',
        '234.18', '308.60', '381.58', '0.27', '31 Dec 2019', 'ARS',
        '-11.34', '16.85', '5.48', '1.95', '-1.58', '10.23', '-15.33',
        '-15.16', '-30.49', '0.00', '-', '-3.81', '0.70', '-23.36',
        '31 Dec 2019', '-0.047', '-0.056', '-0.072', '-0.096', '0.491',
        '1.767', '1.463', '0.188']], dtype='<U11')

In [15]:
#getting the name of the company
name = browser.find_elements_by_xpath('.//*[@class="text-h1 text-h1--with-carrier masthead-header-title"]')[0].text

In [16]:
sgx_1 = pd.DataFrame(data=x.T,index=headers,columns=indicators)

In [17]:
sgx_1['company'] = name

In [18]:
sgx_1.reset_index(inplace=True)

In [19]:
sgx_1['company']=name

In [20]:
sgx_1

,index,Period Ended,Period Length,Source,Revenue,Total Revenue,"Selling/General/Admin. Expenses, Total",Depreciation/Amortisation,Unusual Expense (Income),"Other Operating Expenses, Total",...,Period Ended,Return on Assets (ROA),Return on Equity (ROE),Operating Margin,Net Profit Margin,Asset Turnover,Current Ratio,Quick Ratio,Debt / Equity,company
0,2015,31 Dec 2015,12 Months,PROSPECTUS,46.45,46.45,21.10,3.89,-,7.47,...,31 Dec 2015,-,-,0.187,0.103,-,0.881,0.876,-,Aoxin Q & M
1,2016,31 Dec 2016,12 Months,ARS,86.86,86.86,29.14,4.94,3.32,9.02,...,31 Dec 2016,0.026,0.026,0.158,0.089,0.297,0.639,0.578,-,Aoxin Q & M
2,2017,31 Dec 2017,12 Months,ARS,100.67,100.67,37.69,5.52,5.82,9.82,...,31 Dec 2017,0.020,0.031,0.084,0.048,0.422,3.860,3.615,-,Aoxin Q & M
3,2018,31 Dec 2018,12 Months,ARS,119.11,119.11,54.15,8.21,0.27,15.67,...,31 Dec 2018,-0.002,-0.002,0.007,-0.004,0.446,4.805,4.280,0.004,Aoxin Q & M
4,2019,31 Dec 2019,12 Months,ARS,141.11,141.11,61.02,17.67,0.35,15.61,...,31 Dec 2019,-0.047,-0.056,-0.072,-0.096,0.491,1.767,1.463,0.188,Aoxin Q & M

In [21]:
sgx_1.set_index(['company','index'])

                  Period Ended Period Length      Source Revenue  \
company     index
Aoxin Q & M 2015   31 Dec 2015     12 Months  PROSPECTUS   46.45
            2016   31 Dec 2016     12 Months         ARS   86.86
            2017   31 Dec 2017     12 Months         ARS  100.67
            2018   31 Dec 2018     12 Months         ARS  119.11
            2019   31 Dec 2019     12 Months         ARS  141.11

                  Total Revenue Selling/General/Admin. Expenses, Total  \
company     index
Aoxin Q & M 2015          46.45                                  21.10
            2016          86.86                                  29.14
            2017         100.67                                  37.69
            2018         119.11                                  54.15
            2019         141.11                                  61.02

                  Depreciation/Amortisation Unusual Expense (Income)  \
company     index
Aoxin Q & M 2015                       3.89                        -
            2016                       4.94                     3.32
            2017                       5.52                     5.82
            2018                       8.21                     0.27
            2019                      17.67                     0.35

                  Other Operating Expenses, Total Total Operating Expense  \
company     index
Aoxin Q & M 2015                             7.47                   37.75
            2016                             9.02                   73.13
            2017                             9.82                   92.19
            2018                            15.67                  118.28
            2019                            15.61                  151.25

                   ... Net Change in Cash Period Ended Return on Assets (ROA)  \
company     index  ...
Aoxin Q & M 2015   ...               4.15  31 Dec 2015                      -
            2016   ...              20.53  31 Dec 2016                  0.026
            2017   ...              60.35  31 Dec 2017                  0.020
            2018   ...             -44.95  31 Dec 2018                 -0.002
            2019   ...             -23.36  31 Dec 2019                 -0.047

                  Return on Equity (ROE) Operating Margin Net Profit Margin  \
company     index
Aoxin Q & M 2015                       -            0.187             0.103
            2016                   0.026            0.158             0.089
            2017                   0.031            0.084             0.048
            2018                  -0.002            0.007            -0.004
            2019                  -0.056           -0.072            -0.096

                  Asset Turnover Current Ratio Quick Ratio Debt / Equity
company     index
Aoxin Q & M 2015               -         0.881       0.876             -
            2016           0.297         0.639       0.578             -
            2017           0.422         3.860       3.615             -
            2018           0.446         4.805       4.280         0.004
            2019           0.491         1.767       1.463         0.188

[5 rows x 86 columns]

In [28]:
def extract_sgx(sgx):
    browser = webdriver.Chrome()
    browser.get('https://www.sgx.com/securities/equities/'+sgx)
    # need to expand all first to access all the other elements
    time.sleep(5)
    # click the accept cookie button if appear
    try:
        browser.find_element_by_xpath(".//button[@class='sgx-consent-banner-acceptance-button sgx-button--primary sgx-button--small']").click();
    except:
        print('no accept buttons')
    # to expand the table
    time.sleep(3)
    browser.find_elements_by_xpath(".//*[@class='sgx-accordion-expandAll-icon']")[0].click()
    table = browser.find_elements_by_xpath('.//*[@class="website-content-table"]/thead/tr/th')
    empty = []
    for i in table:
        empty.append(i.text)
    # need to reaccess the number of year company have been listed
    years = list(filter(None, empty))
    # removed the duplicated headers and cast as integer for slicing
    i = int(len(years)/4)
    years = years[1:i]
    empty=[]
    table = browser.find_elements_by_xpath('.//*[@class="website-content-table"]/tbody/tr/th')
    for i in table:
        empty.append(i.text)
    indicators = list(filter(None,empty))
    empty=[]
    table = browser.find_elements_by_xpath('.//*[@class="sgx-content-table-cell--right-align"]')
    for i in table:
        empty.append(i.text)
    content= list(filter(None,empty[18:]))  
    x = np.reshape(content, (86, len(years)))
    title = browser.find_elements_by_xpath('.//*[@class="text-h1 text-h1--with-carrier masthead-header-title"]')[0].text
    df = pd.DataFrame(data=x.T,index=years,columns=indicators)
    df['company'] = title
    df.reset_index(inplace=True)
    df.set_index(['company','index'],inplace=True)
    print(title)
    browser.close()
    return df

In [29]:
# the sgx codes of all the healthcare company
sgx_list = ['1D4','MIJ','505','1J3','8YY','1H3','P8A','H02','1B1','5NG','1J5','Q0F','40T','42C','O6Z','OTX',
            '546','5WA','BFK','QC7','5I0','BSL','RF1U','5OT','1D8','FRQ','BKZ','5G3','T14','BVA','41A','569','T43']

In [30]:
all_healthcare_sgx = pd.DataFrame()
for i in sgx_list:
    new_df=extract_sgx(i)
    #adding to previous df
    all_healthcare_sgx=all_healthcare_sgx.append(new_df)

Aoxin Q & M
Alliance HC
AsiaMedic
Asian Healthcare
Biolidics
Clearbridge
Cordlife
Haw Par
HC Surgical
Healthway Med
Hyphens Pharma
IHH
ISEC
IX Biopharma
Lonza
Medinex
Medtecs Intl
OUE Lippo HC
Pharmesis Intl
Q&M Dental
QT Vascular
Raffles Medical
RHT HealthTrust
SingMedical
Singapore O&G
Sing Paincare
Suntar Eco-City
TalkMed
Tianjin ZX USD
Top Glove
UG Healthcare
Vicplas Intl
Yunnan Energy

In [31]:
all_healthcare_sgx

                    Period Ended Period Length      Source   Revenue  \
company       index
Aoxin Q & M   2015   31 Dec 2015     12 Months  PROSPECTUS     46.45
              2016   31 Dec 2016     12 Months         ARS     86.86
              2017   31 Dec 2017     12 Months         ARS    100.67
              2018   31 Dec 2018     12 Months         ARS    119.11
              2019   31 Dec 2019     12 Months         ARS    141.11
...                          ...           ...         ...       ...
Yunnan Energy 2015   31 Dec 2015     12 Months         ARS  1,332.32
              2016   31 Dec 2016     12 Months         ARS  1,418.64
              2017   31 Dec 2017     12 Months         ARS  1,127.67
              2018   31 Dec 2018     12 Months         ARS    634.41
              2019   31 Dec 2019     12 Months         ARS    311.47

                    Total Revenue Selling/General/Admin. Expenses, Total  \
company       index
Aoxin Q & M   2015          46.45                                  21.10
              2016          86.86                                  29.14
              2017         100.67                                  37.69
              2018         119.11                                  54.15
              2019         141.11                                  61.02
...                           ...                                    ...
Yunnan Energy 2015       1,332.32                                 392.99
              2016       1,418.64                                 391.77
              2017       1,127.67                                 156.78
              2018         634.41                                 143.90
              2019         311.47                                  84.94

                    Depreciation/Amortisation Unusual Expense (Income)  \
company       index
Aoxin Q & M   2015                       3.89                        -
              2016                       4.94                     3.32
              2017                       5.52                     5.82
              2018                       8.21                     0.27
              2019                      17.67                     0.35
...                                       ...                      ...
Yunnan Energy 2015                       6.63                     0.66
              2016                      11.04                     1.16
              2017                       0.00                    -5.61
              2018                       0.77                        -
              2019                       0.77                        -

                    Other Operating Expenses, Total Total Operating Expense  \
company       index
Aoxin Q & M   2015                             7.47                   37.75
              2016                             9.02                   73.13
              2017                             9.82                   92.19
              2018                            15.67                  118.28
              2019                            15.61                  151.25
...                                             ...                     ...
Yunnan Energy 2015                            -6.01                1,293.22
              2016                             1.53                1,401.35
              2017                             5.59                1,019.45
              2018                            18.88                  637.38
              2019                            -4.03                  317.69

                     ... Net Change in Cash Period Ended  \
company       index  ...
Aoxin Q & M   2015   ...               4.15  31 Dec 2015
              2016   ...              20.53  31 Dec 2016
              2017   ...              60.35  31 Dec 2017
              2018   ...             -44.95  31 Dec 2018
              2019   ...             -23.36  31 Dec 2019
...                  ...                ...          ...
Yunnan Energy 2015   ...              10.47  31 Dec 2015
              2016   ...               4.43  31 Dec 2016
              2017   ...             -32.50  31 Dec 2017
              2018   ...              96.65  31 Dec 2018
              2019   ...              17.32  31 Dec 2019

                    Return on Assets (ROA) Return on Equity (ROE)  \
company       index
Aoxin Q & M   2015                       -                      -
              2016                   0.026                  0.026
              2017                   0.020                  0.031
              2018                  -0.002                 -0.002
              2019                  -0.047                 -0.056
...                                    ...                    ...
Yunnan Energy 2015                       -                      -
              2016                   0.004                  0.012
              2017                   0.077                  0.162
              2018                  -0.010                 -0.017
              2019                  -0.038                 -0.068

                    Operating Margin Net Profit Margin Asset Turnover  \
company       index
Aoxin Q & M   2015             0.187             0.103              -
              2016             0.158             0.089          0.297
              2017             0.084             0.048          0.422
              2018             0.007            -0.004          0.446
              2019            -0.072            -0.096          0.491
...                              ...               ...            ...
Yunnan Energy 2015             0.029             0.019              -
              2016             0.012             0.003          1.129
              2017             0.096             0.089          0.871
              2018            -0.005            -0.014          0.694
              2019            -0.020            -0.064          0.591

                    Current Ratio Quick Ratio Debt / Equity
company       index
Aoxin Q & M   2015          0.881       0.876             -
              2016          0.639       0.578             -
              2017          3.860       3.615             -
              2018          4.805       4.280         0.004
              2019          1.767       1.463         0.188
...                           ...         ...           ...
Yunnan Energy 2015          2.330       1.694         0.480
              2016          1.840       1.336         0.571
              2017          1.869       1.306         0.480
              2018          2.176       1.730         0.089
              2019         11.066       9.832         0.695

[162 rows x 86 columns]

In [35]:
all_healthcare_sgx.drop_duplicates().to_csv('assets/healthcare_sgx.csv')